<form [formGroup]="userForm">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>

  <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>
</form>

<ng-template #adminRoleAssignmentConfirmationDialog>
  <h2 mat-dialog-title>Confirm admin role assignment</h2>
  <mat-dialog-content>Some warning text</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>
</ng-template>
