<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="signals-basics">Signals basics</a>
      <a mat-list-item routerLink="computed-signals">Computed signals</a>
      <a mat-list-item routerLink="effects">Effects</a>
      <a mat-list-item routerLink="signal-inputs">Signal inputs</a>
      <a mat-list-item routerLink="outputs">Outputs</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span>Angular Wrocław</span>
    </mat-toolbar>

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
